@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Baloo Da 2", cursive;
}

/*menu button animation  */
.icon .menu,
.icon .menu::before,
.icon .menu::after {
  @apply absolute block h-[2px] w-5 bg-black transition-[background_ease_0.3s,top_ease_0.3s_0.3s,transform_ease_0.3s] content-[""] dark:bg-white;
}

#menu:checked + .icon .menu {
  background: transparent;
}

#menu:checked + .icon .menu::before {
  transform: rotate(45deg);
}

#menu:checked + .icon .menu::after {
  transform: rotate(-45deg);
}

#menu:checked + .icon .menu::before,
#menu:checked + .icon .menu::after {
  top: 0;
  transition:
    top ease 0.3s,
    transform ease 0.3s 0.3s;
}
